@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020206;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: #FF2900;
  --color-brand-blue: #4564B6;
  --color-light-gray: #F0F0F0;
  --color-dark-gray: #D0D0D0;
  --color-brand-black: #020206;
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-fraunces);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .link-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #020206;
  }
}
